<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
    <%= yield %>
      <h1>Welcome to Fwitter!</h1>
      <h2>tweeting!</h2>
      <h2>tweet tweet tweet</h2>
    </div>

  </body>
</html>
